@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
body {
  height: 100%;
}
h1 {
  color: #1388d1;
  font-size: 30px;
  font-weight: 700;
}
label {
  font-weight: 600;
  font-size: 16px !important;
}

.dash-loading {
  margin: 0 100px;
}
.left-nav a,
.left-nav li {
  font-size: 18px !important;
}
.left-nav .anticon {
  font-size: 23px !important;
}
.ant-layout {
  background-color: #a9d4eb52;
}
.ant-layout-sider,
.ant-menu-inline {
  overflow: hidden;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #136da5 !important;
}
.ant-menu-inline {
  width: 291px;
}
.ant-menu-item,
.ant-menu-submenu {
  margin: 22px 0 !important;
}
.ant-menu-submenu-selected {
  color: white;
}
.ant-menu-item-selected {
  background-color: rgba(39, 39, 39, 0.521) !important;
  color: white;
}

.ant-menu-submenu-arrow {
  color: white;
}

/* === content === */
.content {
  background-color: white;
  border-radius: 23px;
  margin: 20px 80px 40px;
  padding: 40px 50px;
}
/* === dashboard === */
.card {
  border-radius: 10px;
  width: 320px;
  padding: 20px 10px;
}
.card-icon {
  border-radius: 8px;
  padding: 15px;
  color: white;
}
.card-icon .icon {
  font-size: 40px;
}
.card h1 {
  font-size: 40px;
  line-height: 35px;
}
.card p {
  line-height: 0;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 600;
}
/* === card 1 === */
.card1 {
  background-color: #1388d11c;
}
.card-icon1 {
  background-color: #1388d1;
}
.card1 h1 {
  color: #1388d1;
}
/* === card 2 === */
.card2 {
  background-color: #05f0481e;
}
.card-icon2 {
  background-color: #34c464;
}
.card2 h1 {
  color: #34c464;
}
/* === card 3 === */
.card3 {
  background-color: #f3477b30;
}
.card-icon3 {
  background-color: #f0356d;
}
.card3 h1 {
  color: #f0356d;
}
/* === card 4 === */
.card4 {
  background-color: #d935f026;
}
.card-icon4 {
  background-color: #d935f0ed;
}
.card4 h1 {
  color: #d935f0ed;
}
/* === card 5 === */
.card5 {
  background-color: #ff57573b;
}
.card-icon5 {
  background-color: #ff5757;
}
.card5 h1 {
  color: #ff5757;
}
/* === Form design ===  */
.ant-input {
  border-radius: 6px;
  border: 1px solid #1388d1;
  font-size: 16px;
}
.ant-select-selector {
  border-radius: 6px !important;
  border-color: #1388d1 !important;
}
textarea {
  height: 250px !important;
}
.ant-upload-drag {
  border: none !important;
  height: 345px !important;
  margin-top: 33px;
  border-radius: 12px !important;
}
.upload-frame {
  border-radius: 6px;
  width: 104px;
  height: 104px;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  text-align: center;
  padding-top: 25px;
}
.ant-form-item-explain {
  font-size: 16px;
  margin-bottom: 10px;
}

#submit-btn {
  border-radius: 20px;
  font-weight: 600;
  width: 155px;
}

.ant-table-thead {
  font-size: 16px;
}
.ant-table-row {
  font-size: 16px;
}
.edit-btn,
.delete-btn {
  border-radius: 50%;
  border: none;
}
.edit-btn {
  background-color: #1388d11c;
}
.delete-btn {
  background-color: #f3477b1e;
}
.delete-btn:hover {
  cursor: pointer;
}
.ant-upload-list-item-card-actions-btn {
  opacity: 1 !important;
}
.ant-form-item-control-input-content {
  width: 1200px;
}
.action-btn {
  border: none;
  color: white;
  padding: 0px 0 !important;
  width: 70px;
  height: 20px;
}
/* === Status design === */
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px soslid #dadada;
}
/* === Login Page === */
.login-page {
  width: 100vw;
  height: 100vh;
  background-color: #127cbe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}
.login-page p {
  color: white;
  font-weight: 800;
  margin-bottom: -20px;
  font-size: 25px;
}
.form {
  width: 600px;
  margin-bottom: 40px;
}
.form .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.input {
  margin: 60px 0;
}
.input .ant-form-item-explain-error {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  color: #ff5c5e;
}
.input .ant-input {
  color: white;
  font-size: 23px;
  font-weight: 600;
  background-color: rgba(233, 233, 233, 0) !important;
}
.input-login {
  background-color: rgba(233, 233, 233, 0) !important;
  border: none;
  font-size: 23px;
  border-radius: 0px;
  font-weight: 600;
  border-bottom: 2px solid #ffffffb4;
}
.input .ant-input::placeholder {
  color: #ffffffb4 !important;
}

.ant-input-password-icon {
  color: #ffffffb4 !important;
}
.login-btn {
  width: 100%;
  height: 40px;
  background-color: #1388d1;
}
.login-btn span {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.view-msg-label,
.view-application-label {
  font-weight: bold;
  color: #1388d1;
}
.pdf-modal {
  width: 90% !important;
  margin-top: 0;
}
#download-cv {
  border: 2px solid #1388d1;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
/* ==== Top Nav ==== */
.top-nav {
  margin: 20px 40px 0 0;
  display: flex;
  justify-content: flex-end;
}
/* === Footer === */
.ant-layout-footer {
  padding: 15px;
  /* background: none; */
}
.footer {
  font-weight: 600;
  font-size: 16px;
}
